.post {
  padding: 50px 0;

  &__text {
    margin: 20px 0;
  }

  &__input {
    width: 300px;
    height: 40px;
    padding-left: 20px;
    outline: none;
  }

  &__descr {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
  }

  &__textarea {
    resize: none;
    padding: 20px 0 0 20px;
  }
  &__category {
    &-item {
      cursor: pointer;
      font-size: 20px;
      margin: 10px 0;

    }
    &-title {
      font-weight: bold;
      font-size: 18px;
      margin: 20px 0;
    }
    &-btn {
      padding: 10px 15px;
      border: none;
      color: white;
      background: #22ca46;
      border-radius: 10px;
      cursor: pointer;
      margin: 0 0 20px;
    }
  }
  &__price {
    margin: 20px 0;
    font-size: 18px;
  }
  &__label {
    margin: 20px 0;
    display: inline-block;
  }
  &__cash {
    margin-right: 10px;
    cursor: pointer;
  }
  &__select-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__select-select {
    background: #22ca46;
    padding: 10px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
  }

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}