.profile {
  padding: 50px 0;
  &__wallet {
    padding: 30px 0;
    &-title  {
      font-size: 25px;
    }
    &-info {
      margin: 20px 0;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    &-label {
      display: flex;
     align-items: center;
      column-gap: 5px;
      font-size: 20px;
    }
  }
  &__tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;
  }
  &__link {
    color: black;
    font-size: 20px;
    &:hover, .active {
      color: #22ca46;
    }
  }
  &__title {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
  }
  &__user {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: darkgrey;
    cursor: pointer;
  }
  &__btn {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #22ca46;
    color: #22ca46;
    border-radius: 12px;
    background: transparent;
  }
  &__icon {
    font-size: 25px;
    color: #ff5a00;
    cursor: pointer;
  }
  &__info {
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 40px;
    width: 600px;
  }
  &__input {
    width: 600px;
    height: 40px;
    outline: none;
    padding-left: 20px;
  }
  &__btn2 {
    display: block;
    color: white;
    background: #22ca46;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
  }
  &__input2 {
    width: 600px;
    padding: 30px 15px;
  }
  &__remove {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    color: red;
    cursor: pointer;
  }
  &__cash {
    display: flex;
    align-items: center;
    column-gap: 15px;
    border: 1px solid #22ca46;
    padding: 10px;
    border-radius: 10px;

  }
  &__money {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}